@model HW5.Models.Requests
@{   
 ViewBag.Title = "Requests";
}

<h1 style="text-align:center; padding-bottom:20px;">Campus Apartments</h1>
<h4 style="text-align:center;">Your Request Form</h4>
<br /><br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-md-4">
            @Html.LabelFor(model => model.FirstName, "First Name")
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-4">
            @Html.LabelFor(model => model.LastName, "Last Name")
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-4">
            @Html.LabelFor(model => model.PhoneNumber, "Phone Number")
            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group" style="padding-top:100px;">

        <div class="col-md-4">
            @Html.LabelFor(model => model.ApartmentName, "Apartment Name")
            @Html.EditorFor(model => model.ApartmentName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ApartmentName, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-4">
            @Html.LabelFor(model => model.Explanation, "Short Explanation of Issue")
            @Html.TextAreaFor(model => model.Explanation,
     new { @cols = "100", @rows = "5", @style = "width:100%; resize:none;"})
            @Html.ValidationMessageFor(model => model.Explanation, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-4">
            @Html.LabelFor(model => model.UnitNumber, "Unit Number")
            @Html.EditorFor(model => model.UnitNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UnitNumber, "", new { @class = "text-danger" })
        </div>

    </div>


    <div class="form-group">
        <div class="col-md-8">
            <input type="submit" value="Submit your Request" class="btn btn-default" style="background-color:#E2E2E2; border:2px solid blue; font-weight: bold; margin-top:-30px;" />
        </div>
        <div class="col-md-4">
            <div class="checkbox" style="border: 1px solid blue; background-color:#E2E2E2; padding-left:3px; margin-top:-50px;">
                @Html.LabelFor(model => model.Permission, "Select the box in the bottom left to give permission for the landlord" +
                                          " or representative to first call and then enter your unit and perform the necessary maintenance")
                @Html.EditorFor(model => model.Permission)
                @Html.ValidationMessageFor(model => model.Permission, "", new { @class = "text-danger" })
            </div>
        </div>
        <br /><br /><br />
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}